@font-face {
  font-family: "NotoSans";
  src: url("../fonts/noto-sans/NotoSans-Thin.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/noto-sans/NotoSans-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/noto-sans/NotoSans-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/noto-sans/NotoSans-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/noto-sans/NotoSans-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/noto-sans/NotoSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/noto-sans/NotoSans-Black.woff2") format("woff2");
  font-weight: 900;
}

.font-noto-sans {
  font-family: "NotoSans", sans-serif !important;
}
